<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <%= "Coach: #{params[:coach]}\n" %>
 <%= "Point Guard: #{params[:one]}\n" %>
 <%= "Shooting Guard: #{params[:two]}\n" %>
 <%= "Small Forward: #{params[:three]}\n" %>
 <%= "Power Forward: #{params[:four]}\n" %>
 <%= "Center: #{params[:five]}" %>

 </body>
</html>
