<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <%= "Coach: #{params[:coach]}" %>
 <%= "Point Guard: #{params[:one]}" %>
 <%= "Shooting Guard: #{params[:two]}" %>
 <%= "Small Forward: #{params[:three]}" %>
 <%= "Power Forward: #{params[:four]}" %>
 <%= "Center: #{params[:five]}" %>


 </body>
</html>
